<html>
  <head>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projection"/>
  </head>
  <body>

    <div id="app">
      <div class="row">
        <div class="col s12 m4">
          <input type="text" placeholder="Add a task" v-model="inputTask">
          <button class="btn waves-effect waves-light" v-on:click="addTasks">Add</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <table class="table">
            <thead>
              <tr>
                <th>Task Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="task in tasks">
                <td>
                  <div class="col s11 m10">
                    {{ task.name }}
                  </div>
                </td>
                <td>
                  <div class="col s1 m2">
                    <button type="button" class="btn waves-effect waves-light red" v-on:click="removeTask(task.id)">X</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>

    var app = new Vue({
      el: '#app'
    , data: {
        tasks: [
            {id: 1, name: 'Learn Vue.js'}
          , {id: 2, name: 'Learn Npm'}
          , {id: 3, name: 'Learn Vue.js'}
        ]
      , inputTask: ''
    }
    , methods: {
        addTasks() {
          if(this.inputTask.trim() != '') {
            this.tasks.push({ name: this.inputTask, id: this.tasks.length + 1 });
            this.inputTask = '';
          }
        },
        removeTask(id) {
          for (var i = this.tasks.length; i--;) {
            if (this.tasks[i].id === id) {
              this.tasks.splice(i, 1);
            }
          }
        }
      ,
    }
    })
    </script>
  </body>
</html>
